<a href="{{ path('kumabroodjesbundle_admin_endproduct_default', {'id': row.id}) }}">
{% if object %}
    <i class="fa fa-heart" style="color: #2997ce;"></i>
{% else %}
    <i class="fa fa-heart" style="color: black;"></i>
{% endif %}
</a>