<a href="{{ path('kumabroodjesbundle_admin_endproduct_favorite', {'id': row.id}) }}">
{% if object == true %}
    <i class="fa fa-star" style="color: #2997ce;"></i>
{% else %}
    <i class="fa fa-star" style="color: black;"></i>
{% endif %}
</a>